@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic */
html,
body {
  @apply bg-emerald-800;
}

/* Layout */
.wrapper {
  @apply flex min-h-screen flex-col bg-gradient-to-b from-white to-amber-50 bg-fixed;
}

/* Kit */
.hot {
  @apply relative z-0 overflow-hidden;
}
.hot::after {
  @apply absolute left-0 top-0 z-10 -translate-x-7 translate-y-2 -rotate-45 bg-red-500 px-9 py-1 text-xs font-bold text-white shadow content-["HOT"];
}

/* Navbar */
.site-nav {
  @apply relative m-4;
}
.home-button {
  @apply flex h-6 w-6 items-center text-emerald-700 xl:absolute xl:-top-2 xl:h-20 xl:w-20 xl:transform xl:justify-center xl:rounded-full xl:bg-yellow-400/40 xl:bg-gradient-to-br xl:from-yellow-300 xl:backdrop-blur-sm xl:duration-500 xl:hover:backdrop-blur-none;
}
/* .home-button {
  @apply absolute left-0 -top-9 text-yellow-700 xl:-top-2 xl:w-20 xl:h-20 xl:rounded-full flex justify-center items-center xl:bg-gradient-to-br xl:from-yellow-300 xl:bg-yellow-400/40 xl:backdrop-blur-sm xl:hover:backdrop-blur-none xl:transform xl:duration-500;
} */
/* .menu-button {
  @apply absolute right-0 -top-9 text-yellow-700;
} */
.menu-button {
  @apply absolute right-0 top-0 grid h-6 w-6 content-center justify-center text-emerald-700 xl:hidden;
}
.menu-panel {
  @apply mt-4 rounded-3xl bg-emerald-800 p-3 text-yellow-400 shadow-lg xl:mt-0 xl:block xl:rounded-full xl:shadow-yellow-900/20;
}
.menu-list {
  @apply grid grid-cols-3 gap-2 xl:flex xl:justify-center;
}
.menu-item {
  @apply rounded-xl border-2 border-emerald-700 bg-emerald-700 px-2 py-1.5 text-center text-sm xl:transform xl:border-transparent xl:bg-transparent xl:py-2 xl:duration-500 xl:ease-in-out xl:hover:bg-emerald-700;
}
.menu-item.current {
  @apply border-lime-600 bg-emerald-700 text-yellow-300;
}

/* Footer */
.site-footer {
  @apply bg-emerald-800 text-center text-emerald-400;
}
.footer-nav {
  @apply bg-emerald-700 p-3 text-lime-400;
}
.footer-nav ul {
  @apply flex justify-center space-x-4 text-xs;
}
.footer-logo {
  @apply mx-auto mb-2 mt-7 h-10 w-auto opacity-80;
}
.site-footer p {
  @apply pb-8 text-xs;
}

/* Home */
.home {
  @apply xl:mx-auto xl:grid xl:grid-cols-4;
}
.home section,
.all section,
.category section {
  @apply mb-6;
}
.section-head {
  @apply mx-5 mb-4 flex items-center space-x-2 font-bold text-emerald-700 xl:mx-8 xl:mb-5;
}
.category .section-head .h2,
.all .section-head .h2,
.page .section-head .h2 {
  @apply text-lg font-bold xl:border-l-4 xl:border-l-orange-600 xl:pl-3 xl:text-2xl;
}
.total {
  @apply rounded-md bg-yellow-200 px-2 py-1 text-xs;
}
.section-body {
  @apply mx-5 grid grid-cols-3 gap-4 xl:mx-8 xl:grid-cols-12;
}
.home .section-head {
  @apply grid-cols-2 xl:mx-10 xl:mb-3;
}
.home .section-head h2 {
  @apply bg-gradient-to-r from-rose-500 from-30% to-amber-400 bg-clip-text text-xl font-bold text-transparent;
}
.home .section-body {
  @apply grid-cols-2;
}

/* List */
.list-item {
  @apply xl:transform xl:duration-300;
}
.list-item:hover {
  @apply xl:scale-110  xl:shadow-black/20;
}
.list-item .image {
  @apply w-full rounded-[2rem] border-4 border-amber-300;
}
.list-item .title {
  /* -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2; */
  @apply mt-2 line-clamp-2 h-8 overflow-hidden text-center text-xs text-emerald-900;
}
.link-more {
  @apply mx-5 mt-4 block rounded-sm border border-amber-400 bg-amber-300 py-1 text-center text-sm uppercase text-yellow-900 shadow-sm shadow-amber-200 xl:mx-10;
}
/* Category */
.category .section-head,
.all .section-head {
  @apply justify-center xl:justify-start;
}
/* Detail */
.detail {
  @apply mx-auto grid xl:mx-8 xl:grid-cols-12 xl:gap-8;
}
.player {
  @apply fixed inset-0 z-10 bg-black/90 backdrop-blur xl:static xl:mb-4 xl:block;
}
.game-iframe {
  @apply h-screen w-screen border-0 xl:aspect-video xl:h-auto xl:w-full;
}
.back-btn {
  @apply absolute left-0 top-1 z-20 overflow-hidden rounded-r-full bg-emerald-500/80 p-4 pl-2 text-xs uppercase text-white xl:hidden;
}
.detail .section-head {
  @apply mx-3 mb-2 justify-center xl:justify-start;
}
.detail .h2 {
  @apply text-xl;
}
.game-meta {
  @apply mb-6 flex flex-col items-center xl:flex-row;
}
.game-meta .title {
  @apply my-2 text-2xl font-black leading-6 text-emerald-700 xl:mb-2;
}
.game-meta .image {
  @apply h-32 w-32 rounded-[2rem] border-4 border-amber-300 xl:mr-3 xl:h-28 xl:w-28 xl:shadow-xl xl:shadow-amber-200;
}
.game-info {
  @apply mx-auto flex items-center justify-center gap-2 xl:justify-start;
}
.detail .description {
  @apply my-4 overflow-hidden rounded-lg bg-amber-200 p-4 text-sm text-emerald-800 xl:mb-6 xl:mt-0 xl:text-base;
}

.description .content {
  /* -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4; */
  @apply line-clamp-4 max-w-5xl overflow-hidden;
}

.description.show-all .content {
  -webkit-box-orient: inherit;
}
.game-info {
  @apply xl:flex xl:flex-row xl:items-center xl:space-x-1.5;
}
.game-rating {
  @apply my-2 grid h-10 w-10 content-center rounded-full bg-orange-500 text-center text-xl font-bold text-white;
}
.game-category {
  @apply inline-block rounded-md bg-lime-600 px-2 py-1 text-xs uppercase text-lime-200;
}
.hot-label {
  @apply inline-block rounded-md bg-red-600 px-2 py-1 text-xs font-bold uppercase text-white;
}
.play-btn {
  @apply mx-auto block rounded-full bg-sky-500 px-8 py-4 text-center text-xl font-bold text-white shadow-lg shadow-sky-600/20 xl:hidden xl:w-[300px];
}
/* .detail aside {
  @apply xl:max-w-xs;
} */
.detail aside .list {
  @apply mx-8 mb-4 grid grid-cols-2 gap-4 xl:mx-0 xl:grid-cols-3;
}

.popular .list {
  @apply mb-4 grid grid-cols-2 gap-4 xl:grid-cols-6;
}

/* Page */
.page p {
  @apply mb-4 text-sm;
}
.page h3 {
  @apply my-3 text-lg font-bold;
}
.page ul {
  @apply my-2 ml-4 list-outside list-disc;
}
